.container2 {
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
    padding: 5px;
  }
  
  .product {
    width: 180px;
    height: 360px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin: 40px;
  }
  
  .itemA, .itemB, .itemC {
    display: flex;
    justify-content: center;
  }
  .mainproduct{
    height: 300px;
  
  }
  .subproduct{
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .producthinhanh{
    height: 200px;
  }
  .productgiaca{
    color: red;
  }
  .productquangcao{
    padding: 10px;
  }
  .nutmua {
    background-color: #ff6600; /* Màu nền của button */
    color: white; /* Màu chữ */
    border: none; /* Không có đường viền */
    padding: 1px 38px; /* Khoảng cách bên trong */
    font-size: 16px; /* Kích thước chữ */
    font-weight: bold; /* Định dạng chữ đậm */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Hiển thị con trỏ chuột dạng tay */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Hiệu ứng chuyển động khi hover */
  }
  
  .nutmua:hover {
    background-color: #e65c00; /* Màu nền khi hover */
    transform: scale(1.05); /* Phóng to một chút khi hover */
  }
  
  .nutmua:active {
    background-color: #cc5200; /* Màu nền khi click */
    transform: scale(0.98); /* Thu nhỏ chút khi click */
  }
  .remain {
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;  /* Bạn có thể thay đổi kích thước chữ */
    font-weight: bold;
    color: yellow;  /* Màu ban đầu là vàng */
    animation: colorCycle 6s infinite alternate;
  }
  
  @keyframes colorCycle {
    0% {
      color: yellow; /* Màu vàng */
    }
    25% {
      color: orange; /* Màu cam */
    }
    50% {
      color: brown; /* Màu nâu */
    }
    75% {
      color: darkred; /* Màu đỏ đậm */
    }
    100% {
      color: black; /* Màu đen */
    }
  }
  
  .productconlai{
    background: linear-gradient(45deg, #ff8c00, #ff4500);
    margin-top: 4px;
    border-radius: 20px;
  }
  .logo  {
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin: 25px;
    font-size: 60px;
  }
  .Image {
    border-radius: 15px;
  }
  .khungfooter{
    width: 100%;
    background-color: wheat;
    padding: 50px;
  }
  
  .item3{
    background-color: rgb(179, 139, 248);
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
  }